<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>IntentPhrases</key>
  <array>
    <dict>
      <key>IntentExamples</key>
      <array>
        <string>Знайди радіостанцію в Primuse.</string>
        <string>Пошукай радіостанції в Primuse.</string>
        <string>Знайди новинну радіостанцію в Primuse.</string>
        <string>Знайди джазову радіостанцію в Primuse.</string>
        <string>Знайди радіостанцію класичної музики в Primuse.</string>
        <string>Знайди розмовне радіо в Primuse.</string>
        <string>Знайди FM-радіостанцію в Primuse.</string>
      </array>
      <key>IntentName</key>
      <string>INSearchForMediaIntent</string>
    </dict>
    <dict>
      <key>IntentExamples</key>
      <array>
        <string>Увімкни музику в Primuse.</string>
        <string>Увімкни пісню в Primuse.</string>
        <string>Увімкни альбом у Primuse.</string>
        <string>Увімкни пісні виконавця в Primuse.</string>
        <string>Увімкни плейліст у Primuse.</string>
        <string>Увімкни джаз у Primuse.</string>
        <string>Увімкни радіостанцію в Primuse.</string>
      </array>
      <key>IntentName</key>
      <string>INPlayMediaIntent</string>
    </dict>
  </array>
</dict>
</plist>
