<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>IntentPhrases</key>
    <array>
        <dict>
            <key>IntentExamples</key>
            <array>
                <string>ابحث عن محطة راديو باستخدام Primuse.</string>
                <string>اعثر على محطات راديو في Primuse.</string>
                <string>ابحث عن محطة راديو إخبارية باستخدام Primuse.</string>
                <string>ابحث عن محطة راديو جاز باستخدام Primuse.</string>
                <string>ابحث عن محطة راديو للموسيقى الكلاسيكية باستخدام Primuse.</string>
                <string>ابحث عن محطة راديو حوارية باستخدام Primuse.</string>
                <string>ابحث عن محطة FM باستخدام Primuse.</string>
            </array>
            <key>IntentName</key>
            <string>INSearchForMediaIntent</string>
        </dict>
        <dict>
            <key>IntentExamples</key>
            <array>
                <string>شغّل الموسيقى باستخدام Primuse.</string>
                <string>شغّل أغنية باستخدام Primuse.</string>
                <string>شغّل ألبومًا باستخدام Primuse.</string>
                <string>شغّل أغاني فنان باستخدام Primuse.</string>
                <string>شغّل قائمة تشغيل باستخدام Primuse.</string>
                <string>شغّل موسيقى الجاز باستخدام Primuse.</string>
                <string>شغّل محطة راديو باستخدام Primuse.</string>
            </array>
            <key>IntentName</key>
            <string>INPlayMediaIntent</string>
        </dict>
    </array>
</dict>
</plist>
