<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>IntentPhrases</key>
  <array>
    <dict>
      <key>IntentExamples</key>
      <array>
        <string>Primuse'ta bir radyo istasyonu bul.</string>
        <string>Primuse'ta radyo istasyonlarını ara.</string>
        <string>Primuse'ta bir haber radyosu bul.</string>
        <string>Primuse'ta bir caz radyosu bul.</string>
        <string>Primuse'ta bir klasik müzik radyosu bul.</string>
        <string>Primuse'ta bir sohbet radyosu bul.</string>
        <string>Primuse'ta bir FM istasyonu bul.</string>
      </array>
      <key>IntentName</key>
      <string>INSearchForMediaIntent</string>
    </dict>
    <dict>
      <key>IntentExamples</key>
      <array>
        <string>Primuse'ta müzik çal.</string>
        <string>Primuse'ta bir şarkı çal.</string>
        <string>Primuse'ta bir albüm çal.</string>
        <string>Primuse'ta bir sanatçının şarkılarını çal.</string>
        <string>Primuse'ta bir çalma listesi çal.</string>
        <string>Primuse'ta caz müzik çal.</string>
        <string>Primuse'ta bir radyo istasyonu çal.</string>
      </array>
      <key>IntentName</key>
      <string>INPlayMediaIntent</string>
    </dict>
  </array>
</dict>
</plist>
