<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Znajdź stację radiową za pomocą Primuse.</string>
				<string>Wyszukaj stacje radiowe w Primuse.</string>
				<string>Znajdź stację informacyjną za pomocą Primuse.</string>
				<string>Znajdź stację z jazzem za pomocą Primuse.</string>
				<string>Znajdź stację z muzyką klasyczną za pomocą Primuse.</string>
				<string>Znajdź radio rozmów za pomocą Primuse.</string>
				<string>Znajdź stację FM za pomocą Primuse.</string>
			</array>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
		</dict>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>Odtwarzaj muzykę za pomocą Primuse.</string>
				<string>Odtwórz piosenkę za pomocą Primuse.</string>
				<string>Odtwórz album za pomocą Primuse.</string>
				<string>Odtwarzaj muzykę artysty za pomocą Primuse.</string>
				<string>Odtwórz playlistę za pomocą Primuse.</string>
				<string>Odtwarzaj muzykę jazzową za pomocą Primuse.</string>
				<string>Odtwórz stację radiową za pomocą Primuse.</string>
			</array>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
		</dict>
	</array>
</dict>
</plist>
