<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>用 Primuse 搜索音乐</string>
				<string>用 Primuse 搜索歌曲</string>
				<string>用 Primuse 搜索专辑</string>
				<string>用 Primuse 搜索歌手</string>
				<string>用 Primuse 搜索歌单</string>
				<string>用 Primuse 搜索摇滚音乐</string>
				<string>用 Primuse 搜索电台</string>
			</array>
			<key>IntentName</key>
			<string>INSearchForMediaIntent</string>
		</dict>
		<dict>
			<key>IntentExamples</key>
			<array>
				<string>用 Primuse 播放音乐</string>
				<string>用猿音播放音乐</string>
				<string>用 Primuse 播放歌曲</string>
				<string>用 Primuse 播放专辑</string>
				<string>用 Primuse 播放歌手的歌曲</string>
				<string>用 Primuse 播放歌单</string>
				<string>用 Primuse 播放摇滚音乐</string>
				<string>用 Primuse 播放电台</string>
			</array>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
		</dict>
	</array>
</dict>
</plist>
